$square: #FDD000;
$header_text_color: #3D3D3D;
$active_href: #FDD000;
$calendar_bg: #272829;
$other_date_color: #535354;
$main_date_color: #DFDFDF;
$header_date_color: #DFDFDF;
$active_date_color: #3D3D3D;
$active_date_bg: #FDD000;
$border_color: #848585;
$days_name_color: #FFFFFF;
$home_title_color: #FDD000;
$home_text_color: #DFDFDF;
$header_bg: #ffffff;
$popup_title: #A2A2A2;
$poput_text: #3D3D3D;
$form_border_color: #FDD000;
$about_text_color: #3D3D3D;