@import './colors';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// @font-face {
//     font-family: 'Droid Sans Mono';
//     src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/droidsansmono.woff2') format('woff2'), url('../fonts/droidsansmono.woff') format('woff');
//     font-weight: 400;
//     font-style: normal;
// }

html {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#__next {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.grid {
    display: grid;
}

.grid-align-center {
    align-items: center;
}

.grid-align-content-center {
    align-content: center;
}

.grid-justify-center {
    justify-content: center;
}

.default-gap {
    grid-gap: 20px;
}

.default-gap-columns {
    grid-column-gap: 20px;
}

.default-gap-rows {
    grid-row-gap: 20px;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.margin-0-auto {
    margin: 0 auto;
}